@font-face {
  font-family: 'Telefon Web Black';
  src: url('../fonts/telefon_web_black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Telefon Web';
  src: url('../fonts/telefon_web_bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Telefon Web';
  src: url('../fonts/telefon_web_normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/Lato-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Baskerville';
  src: url('../fonts/baskerville_semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Baskerville';
  src: url('../fonts/baskerville_semibold_it.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}


